 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
                <div class="row">
                    <p><center>These pages are a collection of small projects to practice different aspects of data science.<BR><BR>I am currently working as a self-employed Quantitative Sports Analyst.</center></p>
                </div>
                <div class="col-lg-4-more">
                    <p></p>
                </div>
            </div>
        </div>
    </section>